.user-entry {
  .page-head {
    color: #eee;
    margin-top: 3.74vh;
    span:first-child {
      margin-right: 0.8rem;
    }
  }
  .label {
    color: #ababab;
    margin-top: 3.74vh;
  }
  .link-to {
    color: #e0e0e0;
    margin-top: 1rem;
    margin-bottom: 6.28vh;
    display: block;
  }
  .form {
    margin-top: 3.6rem;
    .van-row {
      color: #e0e0e0;
      height: 40px;
      line-height: 40px;
      margin-top: 3.5vh;
      border-bottom: 1px solid #94969b;
    }
    .van-col {
      height: 100%;
      font-size: 1.6rem;
      &:last-child {
        text-align: right;
      }
    }
    .iconfont {
      position: relative;
      top: -0.2rem;
    }
    input {
      background: none;
      font-size: inherit;
      width: 100%;
      border: none;
      outline: none;
    }
  }
}
// 重置vant 库默认样式
.van-ellipsis {
  font-size: 1.4rem;
}
