$bg-white: #fff;
$main-bg-color: #f5f5f5;
$hover-bg-color: #991c22;
$color-success: #4fa56d;
$color-danger: #b72026;
$color-primary: #d0a771;
$bd-size: 1rem;
$bd-color: #e1e1e1;
$default-border: $bd-size solid $bd-color;
$mask-bg-rgba: rgba(0, 0, 0, 0.6);
.color-danger {
  color: $color-danger;
}
.color-success {
  color: $color-success;
}
.color-primary {
  color: $color-primary;
}
@for $i from 12 to 73 {
  .font-#{$i} {
    font-size: 1px * $i;
  }
}
@for $i from 1 to 11 {
  /*高度值*/
  .h-#{$i*5} {
    height: 5px * $i;
  }
  /* 缩虐图尺寸 --rounded 圆形*/
  .thumb-#{$i*5} {
    width: 5px * $i;
    height: 5px * $i;
  }
}
input {
  appearance: none;
  outline: none;
  border: 1px solid transparent;
}
button {
  appearance: none;
  border: 1px solid transparent;
  background: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  text-align: center;
  &.btn-bordered {
    border-color: #e5e5e5;
  }
  &.btn-large {
    height: 4rem;
    line-height: 4rem;
    font-size: 1.25rem;
  }
  &.btn-block {
    display: block;
    width: 100%;
  }
  &.btn-inline {
    display: inline-block;
  }
  &.btn-small {
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    width: 8rem;
  }
  &.btn-mini {
    height: 2.5rem;
    width: 5rem;
    line-height: 2.4rem;
    font-size: 1rem;
  }
  &.btn-radius {
    border-radius: 0.2rem;
  }
  &.btn-active:active {
    opacity: 0.9;
  }
  &.btn-hover:hover {
    opacity: 0.9;
  }
  &.btn-round {
    border-radius: 10rem;
  }
  &.btn-default {
    background-color: #fff;
    color: #333;
    border-color: #eee;
  }
  &.btn-success {
    background-color: $color-success;
    color: #fff;
  }
  &.btn-danger {
    background-color: $color-danger;
    color: #fff;
  }
  &.btn-primary {
    background-color: $color-primary;
    color: #fff;
  }
  &[disabled] {
    background-color: #cccccc;
    color: #fff;
    cursor: not-allowed;
  }
}

@mixin textVcenter($height: 4rem) {
  height: $height;
  line-height: $height;
}

@mixin breakLine($height: 1px, $bgcolor: #ebedf0, $width: 100%) {
  height: $height;
  background-color: $bgcolor;
  width: $width;
  transform: scaleY(0.5);
}
