$bg-white: #fff;
$main-bg-color: #f5f5f5;
$color-success: #01aa3c;
$color-danger: #ef2d0c;
$color-primary: #fe0042;
$bd-size: 1rem;
$bd-color: #e1e1e1;
$default-border: $bd-size solid $bd-color;
$mask-bg-rgba: rgba(0, 0, 0, 0.6);
@mixin textVcenter($height: 4rem) {
  height: $height;
  line-height: $height;
}

@mixin breakLine($height: 1px, $bgcolor: #ebedf0, $width: 100%) {
  height: $height;
  background-color: $bgcolor;
  width: $width;
  transform: scaleY(0.5);
}
