$bg-white: #fff;
$main-bg-color: #a73031;
$hover-bg-color: #fff;
$color-success: #01aa3c;
$color-danger: #ef2d0c;
$bg-dark: #323c46;
$main-font-color: #333;
$input-height: 40px;
$btn-height: 40px;
$font: "PingFang SC";
$base-font-size: 14px;
$font-mini: 12px;
$font-default: 14px;
$font-normal: 16px;
$font-middile: 18px;
$font-large: 20px;
$font-ex-large: 24px;
$bd-size: 1px;
$bd-color: #e1e1e1;
$default-border: $bd-size solid $bd-color;
$mask-bg-rgba: rgba(0, 0, 0, 0.6);
$content-width: 66%;
.color-danger {
  color: $main-bg-color;
}
.color-success {
  color: $color-success;
}

@mixin textVcenter($height: 40px) {
  height: $height;
  line-height: $height;
}
@mixin float($float: left) {
  float: $float;
}
@mixin minWidth($min: 1440px) {
  min-width: $min;
}
@mixin hCenter {
  margin: 0 auto;
}
@mixin breakLine($height: 1px, $bgcolor: #e1e1e1, $width: 100%) {
  height: $height;
  background-color: $bgcolor;
  width: $width;
}
button.btn-hover:hover {
  opacity: 0.9;
}

button.btn-default {
  background-color: #fff;
  color: #333;
  border-color: #eee;
}
button.btn-danger {
  background-color: $color-danger;
  color: #fff;
}
button.btn-success {
  background-color: $color-success;
  color: #fff;
}
