$bg-default: #fff;
$color-success: #53c3a2;
$color-danger: #ef4c60;
$color-primary: #2a79f5;
$bg-dark: #2a2f43;
$main-font-color: #333;
$bd-size: 1px;
$bd-color: #e1e1e1;
$default-border: $bd-size solid $bd-color;
$mask-bg-rgba: rgba(0, 0, 0, 0.6);
$content-width: 1200px;
@mixin textVcenter($height: 40px) {
  height: $height;
  line-height: $height;
}
@mixin minWidth($min: 1440px) {
  min-width: $min;
}
@mixin breakLine($height: 1px, $bgcolor: #e1e1e1, $width: 100%) {
  height: $height;
  background-color: $bgcolor;
  width: $width;
}
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  width: 100%;
  font-size: 14px;
  user-select: none;
  box-sizing: border-box;
  overflow: auto;
  font-family: "Helvetica Neue", Helvetica, "PingFang-SC-Medium",
    "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
body {
  @include minWidth;
  height: 100%;
  overflow: auto;
  background-color: $bg-default;
  color: $main-font-color;
}

a {
  color: inherit;
}
img {
  display: inline-block;
}
i,
em {
  font-style: normal;
}
/* 清除浮动 */
.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
  zoom: 1;
}
/*相对定位*/
.p-rel {
  position: relative;
}
.p-abs {
  position: absolute;
}
.p-fixed {
  position: fixed;
}
/*长、宽100%*/
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.wh-full {
  width: 100%;
  height: 100%;
}
/*定位居中对齐*/

.abs-h-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.abs-v-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.abs-vh-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* margin 10像素*/
.m-top-10 {
  margin-top: 10px;
}
.m-left-10 {
  margin-left: 10px;
}
.m-right-10 {
  margin-right: 10px;
}
.m-bottom-10 {
  margin-bottom: 10px;
}
.m-10 {
  margin: 10px;
}
.content-width {
  width: $content-width;
}
/*字体大小*/
@for $i from 12 to 29 {
  .font-#{$i} {
    font-size: 1px * $i;
  }
}

@for $i from 1 to 9 {
  /*高度值*/
  .h-#{$i*10} {
    height: 10px * $i;
  }
  /* 缩虐图尺寸 --rounded 圆形*/
  .thumb-#{$i*10} {
    width: 10px * $i;
    height: 10px * $i;
  }
}
/* 字重 */
.font-bit-bold {
  font-weight: 500;
}
.font-bold {
  font-weight: 600;
}
/*button 按钮样式*/
input {
  appearance: none;
  outline: none;
  border: 1px solid transparent;
}
button {
  appearance: none;
  border: 1px solid transparent;
  background: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
}
button.btn-hover:hover {
  opacity: 0.9;
}
button.btn-block {
  display: block;
  width: 100%;
}
button.btn-large {
  height: 40px;
  line-height: 38px;
  padding: 0 30px;
  font-size: 16px;
}
button.btn-small {
  height: 30px;
  line-height: 28px;
  padding: 0 15px;
}
button.btn-default {
  background-color: #fff;
  color: #333;
  border-color: #eee;
}
button.btn-danger {
  background-color: $color-danger;
  color: #fff;
}
button.btn-success {
  background-color: $color-success;
  color: #fff;
}
button.btn-primary {
  background: linear-gradient(left, #267df7, #6935e1);
  color: #fff;
}
.color-primary {
  color: $color-primary;
}
.color-success {
  color: $color-success;
}
.color-danger {
  color: $color-danger;
}
button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.rt-0 {
  right: 0;
}
.lf-0 {
  left: 0;
}
.color-666 {
  color: #666;
}
.color-999 {
  color: #999;
}
.flex {
  display: flex;
}
.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-end {
  justify-content: flex-end;
}
.flex-h-center {
  justify-content: center;
}
.flex-v-center {
  align-items: center;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  background-color: #f5f5f5;
  border-radius: 0;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.4rem rgba(0, 0, 0, 0.3);
  background-color: hsla(215, 17%, 59%, 0.5);
  border-radius: 0;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.4rem rgba(0, 0, 0, 0.3);
  background-color: hsla(215, 17%, 59%, 0.5);
  border-radius: 0;
}

/* 文本对齐 */
.txt-center {
  text-align: center;
}
.txt-lf {
  text-align: left;
}
.txt-rt {
  text-align: right;
}
